{%extends "base.html"%}
{% block  title %} view all users{% endblock  %}
{% block content %}

<form action = "#" method = "POST" >
        <input type = "text" name = "navn" placeholder "Indtast brugernavn" />
        <br/>
        <p> Indtast Brugernavn </p>
        <input type = "text" name = "klub" placeholder "Indtast navn på klub" />
        <br/>
        <p> Indtast navn på klub </p>
        <input type = "password" name = "kode" placeholder "Indtast kode" />
        <br/>
        <p> Indtast kode </p>
        <input type = "submit" value = "submit" />
        <br/>
        <p> Opret bruger! </p>
</form>

{% endblock%}
