{%extends "base.html"%}
{% block  title %} Se Hold{% endblock  %}
{% block content %}
<head>
    <title>Table Example</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            /* Add other styles as desired */
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            /* Add other styles as desired */
        }

        th {
            background-color: #f2f2f2;
            /* Add other styles as desired */
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Navn</th>
            <th>Ejer</th>
            <th>Managerpoint</th>
        </tr>
        {% for item in lst %}
        <tr>
            <td>{{item[0]}} </td>
            <td>{{ item[1] }}</td>
            <td>{{ item[-1] }}</td>
            
        </tr>
        {% endfor %}
    </table>
</body>
{%endblock%}